/* All header section numbers*/
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
  font-family: Arial, "Sans-Serif";
}
/* Individual header section numbers*/
.level1 .header-section-number {
  display: inline-block;
  color: rgb(0,85,129);
  font-weight: bold;
}
.level2 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level3 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level4 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: bold;
}
.level5 .header-section-number {
  display: inline-block;
  color: rgb(26,189,201);
  font-weight: normal;
}
.level6 .header-section-number {
  display: inline-block;
  color: rgb(0,0,0);
  font-weight: normal;
}
/* Individual header section titles*/
.level1 h1 {
  color: rgb(0,85,129);
  font-weight: bold;
}
.level1 h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width: 4%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 10px solid rgb(26,189,201); /* This creates the border. Replace black with whatever color you want. */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}
.level1 h2 {
  color: rgb(26,189,201);
  font-weight: bold;
}
.level1 h3 {
  color: rgb(26,189,201);
  font-weight: bold;
}
.level1 h4 {
  color: rgb(26,189,201);
  font-weight: bold;
  font-style: italic;
}
.level1 h5 {
  color: rgb(26,189,201);
  font-weight: normal;
}
.level1 h6 {
  color: black;
  font-weight: normal;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 75%;
}

body {
  text-align: justify;
}

red {
  color: rgb(255,0,0);
}

bmtgreen {
  color: rgb(26,189,201);
}

bmtpink {
  color: rgb(226,1,119);
}

tcmd {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,0,255);
}

teq {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255,0,0);
}

tblk {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,0,0);
}

tgrn {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(0,128,0);
}

.newboxgrn {
  padding: 0em;
  background: rgb(214,227,188);
  color: black;
}

.newboxblu {
  padding: 0em;
  background: rgb(219,229,241);
  color: black;
}

.newboxorng {
  padding: 0em;
  background: rgb(253,233,217);
  color: black;
}

.table-wrapper {
  overflow-x: scroll;
  white-space: nowrap;

}

/* Make figure captions bold */
.figure .caption {
  font-weight: bold;
}

/* Make table captions bold */
caption {
  font-weight: bold;
}

